* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;

  .card-container {
    width: 456px;
    height: 611px;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;

    .user-info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .user-name {
        font-size: 24px;
        text-align: center;
        color: white;
        margin-top: 24px;
      }
  
      .user-location {
        color: #C4F82A;
      }

    }


    .user-profesion {
      color: white;
    }

    .social-links-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 290px;

      .social-link {
        width: 279px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        background-color: #333333;
      }

      .social-link:hover {
        background-color: #C4F82A;
      }
    }
  }
}
